* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #333333;
  background-color: #313131;
}

.box {
  width: 75%;
  max-width: 36rem;
  min-width: 25rem;
  height: auto;
  min-height: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #252525;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.box__image {
  width: 100%;
  height: 10rem;
}
.box__image img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
.box__content {
  padding-left: 0.6rem;
  color: #fff;
}
.box__content h2 {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.box__content p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

/*
    1. Positioning
    2. Box Model
    3. Typography
    4. Visual effects
    5. Other
*/
.header--principal {
  display: flex;
  width: 100%;
  min-width: 32rem;
  height: 6.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #272525;
}

.nav--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  width: 100%;
}
.nav--header h1 {
  margin-left: 0.5rem;
  font-size: 2rem;
  color: #fff;
}
.nav--header a {
  color: #fff;
  text-decoration: none;
}

.nav--header ul {
  display: flex;
}
.nav--header ul li {
  margin-left: 1rem;
  list-style: none;
}
.nav--header ul a {
  font-size: 1.4rem;
}

.footer--principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 32rem;
  height: 6.5rem;
  margin-top: 2rem;
  padding: 1rem;
  color: #fff;
  background-color: #272525;
}

.footer__left h1 {
  margin-left: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.footer__right {
  display: flex;
  flex-direction: row;
}

.footer__right ul {
  display: flex;
  list-style: none;
}
.footer__right ul li {
  list-style: none;
}
.footer__right ul a {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}