* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-size: 62.5%; */
}

header {
  display: flex;
  flex-direction: column;
  /* align-items: center;  */
  /* It's a better way to align by text-align itself, bcz it's just text. */
  text-align: center;
}

h1 {
  /* font-size: 2.2rem; */
  margin-top: 10px;
}

p {
  /* font-size: 1.2rem; */
  margin-top: 12px;
}
