header.header--principal
  nav.nav--header
    h1: a(href="./principal_page.html")  JS Course
    ul 
      li: a(href="../html/figures.html") Figures
      li: a(href="../html/prices_discounts.html") Discounts
      li: a(href="../html/salary.html") Salary
