header.header--principal
  nav.nav--header
    h1: a(href="./principal_page.html")  JS Course
    ul 
      li: a(href="#") Workshop 1
      li: a(href="#") Workshop 2
      li: a(href="#") Workshop 3
