extend components/plantilla.pug
block content
  main
    section.main__content
      +math_box('square.svg','square image','Square','a')
      +math_box('triangle.svg','triangle image','Triangle','a')
      +math_box('circle.svg','circle image','Circle','a')