extend components/plantilla.pug
block content
  main
    section.main__content
      +math_box('square.svg','square image','Square','Square calculator')
      +math_box('triangle.svg','triangle image','Triangle','Triangle calculator')
      +math_box('circle.svg','circle image','Circle','Circle calculator')
  script(src="../js/figures.js")