extend components/plantilla.pug
block content
  main
    section.main__content
      +box('luci_link.jpg','Figures page image','Figures','Math page to calculate shapes operations')
      +box('luci_link.jpg','Discount page image','Discounts','Discounts page to calculate discounts and porcentages')
      +box('luci_link.jpg','idk page image','I dont know page','Page that i dont know...')
      +box('luci_link.jpg','Fill box','Fill box','Literally a fill box')